body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
        display: none;
    }
}

* {
    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
        display: none;
    }
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    transition: overflow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding: 0 25px 10px 25px;
    scroll-margin-left: 20px !important;
}

.scroll-container:hover {
    overflow-y: hidden;
    overflow-x: auto;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container::-webkit-scrollbar-thumb {
    display: none;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    display: none;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb-item {
    margin-right: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #3e435d;
    font-weight: 300;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    margin-right: 5px;
}

.title {
    font-size: 24px;
    color: #3e435d;
    font-weight: 500;
}
